.box-grid{
    display:grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 3fr 1fr;
}

header{
    text-align: center;
    font-size: 15px;  
}

.logo{
    height:120px ;
    width: auto;
    border: 2px;
}

h1{
    text-align: center;
}

h5{
    text-align: center;
}

.logo, header, nav, footer, main, article{
    border: 2px solid black;
    border-radius: 5px;
    margin: 4px;
}